<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world this is my homepage template</h1>
    <p>wooooooo!</p>

    {{u.first_name.lower}}
    {{u.last_name.upper}}

    {% for subject in subs %}

        <h4>Title: {{subject.title}}</h4>
        <h4>Author: {{subject.author}}</h4>

    {% endfor %}
    
</body>
</html>